@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: var(--skeed-bg);
}

body {
  margin: 0;
  min-width: 320px;
  color: var(--skeed-fg);
  background: var(--skeed-bg);
  font-family: var(--skeed-font-body-family);
}

* {
  box-sizing: border-box;
}
